<footer class="footer">
  <div class="footer__inner">
    {{ if $.Site.Copyright }}
      <div class="copyright copyright--user">
        <span>{{ $.Site.Copyright | safeHTML }}</span>
    {{ else }}
      <div class="copyright">
        <span>© {{ now.Year }} </span>
    {{ end }}
      <span>:: Powered by <a href="https://0xparc.org">0xPARC</a> and <a href="https://appliedzkp.org">PSE</a></span>
      </div>
  </div>
</footer>

<!-- Extended footer section-->
{{ partial "extended_footer.html" . }}